In [2]:
# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Gráficos
# -----------------------------------------------------------------------
import seaborn as sns
import matplotlib.pyplot as plt

# Para la gestión de los warning
# ------------------------------------------------------------------------------
import warnings
warnings.filterwarnings('ignore')

# Para poder ver todas las columnas del dataframe
# ------------------------------------------------------------------------------
pd.options.display.max_columns = None # recordamos que este comando nos pe

# Pair Programming Normalización-Estandarización:

En este ejercicio de pair programming seguiréis usando el dataset que seleccionasteis.
En vuestro dataset habréis identificado unas variables **predictoras** y una variable **respuesta**.

Los objetivos del pair programming de hoy son:
- Sobre las variables **predictoras**, en este caso deberéis **estandarizar** estas variables. De nuevo, usad el método que prefiráis.
- Guardar en un csv el nuevo dataframe que habéis creado para seguir usándolo en los siguientes pair programmings

In [4]:
df = pd.read_csv("data/05-primas_normalizadas.csv", index_col = 0)
df.head(2)

,age,sex,bmi,children,smoker,region,charges,charges_norma,charges_log,charges_raiz,charges_box,charges_Sklearn
0,19,female,27.90,0,yes,southwest,16884.9240,0.473310,9.734176,129.942002,124.198634,0.836552
1,18,male,33.77,1,no,southeast,1725.5523,-0.331205,7.453302,41.539768,47.891784,0.032037